html, body{
    height:100%;
    width:100%;
}
.navbar{
    background-color: rgb(56, 133, 182);
    padding 1% 0;
    font-size: 1em;
}
.navbar-brand{
    min-height:85px;
    padding: 5px 15px 5px;
}
.headerLogo {
    height: 75px;
    width:290px;
}
.navbar-default .navbar-nav li a {
    color: #d5d5d5;
    padding: 30px 20px 10px;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
    color: #fff;
    padding: 30px 20px 10px;
}
.customWrap {
    padding-right:50px;
}
footer {
    width:100%;
    background-color:rgb(56, 133, 182); 
    padding: 5% 5% 10% 5%;
    color: #fff;
}
#home {
    background:  url(blur.png) no-repeat center center fixed;
    display: table;
    height:100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
    
}
.landing-text a {
    margin-top:25px;
}
.landing-text h1, h3 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white;
}

#scrollTop {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: gainsboro;
    color: grey; 
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#scrollTop:hover {
    background-color: #555;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: rgb(56, 133, 182);
    color: white;
}
.padding {
    padding: 80px 0;
}

#bkg-two {
    background:  url(ITServices2.jpg) no-repeat center center fixed;
    display: table;
    height:50%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#bkg-three {
    background:  url(39229891957ab2bfad33110.66149719.jpg) no-repeat center center fixed;
    display: table;
    height:50%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#bkg-four {
    background:  url(contact.jpeg) no-repeat center center fixed;
    display: table;
    height:50%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#bkg-five {
    background:  url(blur.png) no-repeat center center fixed;
    display: table;
    height:50%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#dialog{
    display:none;
    background-color: white;
}
.h4Padding{
    padding-top:23px;
}
.h2Padding{
    padding-top:63px;
    
}
.pcb{
      height:200px;
    width:400px;
    padding-top: 20px;
    }
@media (max-width: 768px){
    .headerLogo{
        height: 50px;
        width:194px;
    }
    .navbar-brand{
        min-height:75px;
        padding: 15px 15px 1px;
}
    .navbar-toggle {
        margin-top: 22px;
    }
}
