html, body{
    height:100%;
    width:100%;
}
.navbar{
    background-color: rgb(56, 133, 182);
    padding 1% 0;
    font-size: 1em;
}
.navbar-brand{
    min-height:85px;
    padding: 5px 15px 5px;
}
.headerLogo {
    height: 75px;
    width:290px;
}
.navbar-default .navbar-nav li a {
    color: #d5d5d5;
    padding: 30px 20px 10px;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
    color: #fff;
    padding: 30px 20px 10px;
}
.customWrap {
    padding-right:50px;
}
footer {
    width:100%;
    background-color:rgb(56, 133, 182); 
    padding: 5% 5% 10% 5%;
    color: #fff;
}
#home {
    background:  url(blur.png) no-repeat center center fixed;
    display: table;
    height:100%;
    position: relative;
    width: 100%;
    background-size: cover;
    
    
}
.landing-text {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
    
}
.landing-text a {
    margin-top:25px;
}
.landing-text h1, h3 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white;
}

